/* stylelint-disable at-rule-empty-line-before */

.sign-up {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle, #fff0 12%, #000 100%), url("./images/background-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.sign-up__main {
  background-color: #f8fafc;
  border-radius: 2px;
  padding: 16px;
  width: 25%;
  max-width: 450px;
  box-shadow: 0 0 5px 0 #000;
}

.sign-up__title {
  text-align: center;
  margin-bottom: 32px;
  @apply text-3xl font-bold;
}

.form__label {
  display: block;
  margin-bottom: 8px;
}

.form__label-text {
  margin-bottom: 4px;
}

.form__label-error {
  color: #b91c1c;
  font-size: 14px;
  visibility: hidden;
  height: 19px;
  display: inline-block;
}

.form__label-error--visible {
  visibility: visible;
}

.form__submit-button {
  padding: 8px 0;
  width: 100%;
  font-weight: bold;
  margin-bottom: 8px;
  background-color: #15803d;
  color: #f8fafc;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.form__submit-button:hover {
  background-color: #166534;
}

.form__submit-button:disabled {
  background-color: #86efac;
  color: #000;
}

.form__input {
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
  padding: 0 8px;
  display: block;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid;
  border-radius: 2px;
}

.form__password-input {
  display: block;
  position: relative;
}

.password-input__button {
  position: absolute;
  right: 8px;
  bottom: 25%;
  top: 25%;
  align-self: baseline;
  border: none;
  background-color: transparent;
}

.password-input__svg {
  height: 16px;
  width: 16px;
}

@media only screen and (max-width: 1200px) {
  .sign-up__main {
    width: 40%;
  }
}

@media only screen and (max-width: 992px) {
  .sign-up__main {
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .sign-up__main {
    width: 100%;
    margin: 0 16px;
  }
}
